<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<h1>Product List</h1>
<hr>
<a th:href="@{/product/add}">Add Product</a><br><br>
<p th:if="${productList.isEmpty()}">Product list is empty</p>
<table border="1" th:unless="${productList.isEmpty()}">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="product : ${productList}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.quantity}"></td>
    <td th:text="${product.price}"></td>
    <td><a href="#" style="padding-right: 10px">Edit</a> <a href="#">Delete</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>